body {
    background-color: rgb(255, 255, 255);
}

.deadzone_style {
    background: repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 10px,
            rgba(0, 0, 0, 0.3) 10px,
            rgba(0, 0, 0, 0.3) 20px);
}

.controll_button_style {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_button_style {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

line {
    stroke: rgb(70, 0, 0);
    stroke-width: 2;
}

h1 {
    text-align: center;
}